.app-header {
  text-align: center;
}

.articles-container {
  padding-top: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
}

.article-container {
  width: 375px;
  margin-bottom: 30px;
}

.image {
  width: 370px;
  height: 275px;
  object-fit: cover;
  margin-bottom: 3%;
}

.td-container {
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
}
